<launch>
    <!-- TF -->
    <node pkg="vader_planner" type="cam_transform_publisher.py" name="tform"/>
    <!-- HRI state machine node -->
    <node pkg="vader_hri" type="PR3_HRI" name="PR3_HRI" output="screen"/>
    <!-- HW interfacing -->
    <include file="$(find vader_planner)/launch/vader_PR3_single.launch">
        <arg name="robot_dof" value="7"/>
        <arg name="robot_ip" value="192.168.1.195"/>    
    </include>
    <!-- Coarse pose estimate -->
    <include file="$(find pose_estimation)/launch/coarse_pose_estimation.launch">
    </include>
</launch>